<div class="managecustomer-right-bx">
    <h4 class="admin-setting-heding">Add/Edit Measurement</h4>
    <form name="measurementForm" novalidate>
        <!-- Left Form Section Start Here -->
        <div class="order-form-left-section add-new-form">

            <div class="form-section-box form-section-box-2">

                <div class="form-box">
                    <label><em id="mandatory" style="color:Red">*</em>Measurement</label>
                    <input id="username" name="title" required placeholder="Measurement" type="text"  ng-pattern="/^[a-zA-Z0-9 ]+$/" ng-model="vm.measurement.title" ng-minlength="2" ng-maxlength="30">
                    <span ng-if="(measurementForm.title.$dirty || vm.isSubmitted)&& measurementForm.title.$error.pattern">No special characters are allowed.</span>
                    <span ng-if="(measurementForm.title.$dirty || vm.isSubmitted)&& measurementForm.title.$error.required"><i><b>Measurement</b></i> is required.</span>
                    <span ng-if="(measurementForm.title.$dirty || vm.isSubmitted)&& measurementForm.title.$error.minlength"><i><b>Measurement</b></i> should be at least 2 characters long.</span>
                    <span ng-if="(measurementForm.title.$dirty || vm.isSubmitted)&& measurementForm.title.$error.maxlength"><i><b>Measurement</b></i> should not be more than 30 characters long.</span>

                </div>
                <div class="form-box">
                    <label>Is Active</label>
                    <input ng-model="vm.measurement.isActive" class="billing-addres-checkbox clothcheck" type="checkbox">

                </div>

                <div class="register-btm-btn-box register-btm-btn-box-left-mar">
                    <div class="submit-error" ng-if="vm.error">
                        <div>{{vm.error}}</div>
                    </div>
                    <div class="submit-button">
                        <input ng-disabled="vm.startProcessing" value="Save" class="register-submit-btn" type="button" ng-click="vm.save(measurementForm)">
                    </div>
                    <div class="cancel-button">
                        <input value="Cancel" class="register-cancel-btn" ui-sref="secure.setting.measurement">
                    </div>
                </div>

            </div>





        </div>
    </form>
    <!-- Customer Details page Section End Here -->



</div>
