<div class="managecustomer-right-bx" ng-init="vm.activate()">
    <h4 class="admin-setting-heding">Add/Edit Style</h4>
    <form name="styleForm" novalidate>
        <!-- Left Form Section Start Here -->
        <div class="order-form-left-section add-new-form">

            <div class="form-section-box form-section-box-2">

                <div class="form-box">
                    <label><em id="mandatory" style="color:Red">*</em>Style</label>
                    <input id="username" name="title" required placeholder="Style" type="text"  ng-pattern="/^[a-zA-Z0-9 ]+$/" ng-model="vm.style.title" ng-minlength="2" ng-maxlength="30">
                    <span ng-if="(styleForm.title.$dirty || vm.isSubmitted) && styleForm.title.$error.pattern">No special characters are allowed.</span>
                    <span ng-if="styleForm.title.$dirty && styleForm.title.$error.required"><i><b>Style</b></i> is required.</span>
                    <span ng-if="styleForm.title.$dirty && styleForm.title.$error.minlength"><i><b>Style</b></i> should be at least 2 characters long.</span>
                    <span ng-if="styleForm.title.$dirty && styleForm.title.$error.maxlength"><i><b>Style</b></i> should not be more than 30 characters long.</span>
                </div>
                <div class="form-box" ng-init="vm.getDesignList()">
                    <label><em style="color:Red">*</em>Design</label>
                    <!--ng-options="item.id as item.title for item in vm.designs | filter :{isActive : true} track by item.id"-->
                    <select required class="paragraph" name="designId" ng-model="vm.style.DesignId">
                        <option value="">Please Select</option>
                        <option ng-repeat="item in vm.designs | filter:{isActive :true}" value="{{item.id}}">{{item.title}}</option>
                    </select>
                    <span ng-if="styleForm.designId.$dirty && styleForm.designId.$error.required"><i><b>Design</b></i> is required.</span>
                </div>
                <div class="form-box" >
                    <label><em style="color:Red">*</em>Image</label>
                    <button type="button" class="register-cancel-btn" style="margin-top: 9px;" ngf-select="vm.displayPhoto($file)"
                       ng-model="vm.file"
                       ngf-pattern="'image/*'"
                       ngf-accept="'image/*'"
                       ngf-max-size="3MB"
                       ngf-min-height="10"
                       ngf-required
                       ngf-resize>Choose a Image</button>
                    <div style="clear:both;">&nbsp;</div>
                    <span ng-if="styleForm.designId.$dirty && styleForm.designId.$error.required"><i><b>Image</b></i> is required.</span>
                </div>
                <div class="form-box">
                    <label></label>
                    <img class="addsubdesign-browse-img" ng-if="vm.localPicture || vm.style.image" ng-src="{{vm.localPicture || vm.style.image}}" height="200" width="200">
                </div>
                <div class="form-box">
                    <label>Is Active</label>
                    <input ng-model="vm.style.isActive" class="billing-addres-checkbox clothcheck" type="checkbox">
                </div>
                <div class="register-btm-btn-box register-btm-btn-box-left-mar">
                    <div class="submit-error" ng-if="vm.error">
                        <div>{{vm.error}}</div>
                    </div>
                    <div class="submit-button">
                        <input ng-disabled="vm.startProcessing" value="Save" class="register-submit-btn" type="button" ng-click="vm.save(styleForm)">
                    </div>
                    <div class="cancel-button">
                        <input value="Cancel" class="register-cancel-btn" ui-sref="secure.setting.style">
                    </div>
                </div>

            </div>





        </div>
    </form>
    <!-- Customer Details page Section End Here -->



</div>
