<div class="inner-heading-bar">Customer's Order Details</div>
<div class="main-contant-part" ng-init="vm.getCustomerByOrderList()">
    <!-- Customer Details page Section Start Here -->
    <div class="customer-detail-page-contant">
        <div class="customer-search-box-main customer-search-box-main-mobile">
            <!--<input class="serchInput customer-search-box-main-mobile"   ng-model="vm.options.search" ng-change="vm.search()" placeholder="Search here..." type="text">-->
            <select class="outside2" placeholder="Search by Status" name="statusid" ng-model="vm.searchBy.OrderStatusId" ng-change="vm.searchByField()" ng-init="vm.getOrderStatusList()">
                <option value="">Search by Status</option>
                <option value="{{os.id}}" ng-repeat="os in vm.orderStatuses | filter : {isActive : true}">{{os.title}}</option>
            </select>
        </div>
        <div class="right-add-new-button right-add-new-button-mobile"><a ui-sref="secure.customer">Back</a></div>
        <div class="details-table">
            <h2 class="no-record-found-text" ng-if="!vm.list.length">No record found</h2>
            <table ng-if="vm.list.length > 0" class="table-part" border="0" cellspacing="0" cellpadding="0">
                <tr class="top-purpal-color-row">
                    <th>
                        <a ng-click="vm.sort('id',vm.asc)">
                            <font>Order Id</font>
                            <span ng-if="vm.asc['id'] === true" class="">
                                <img ng-src="/images/up-arrow-1.png" alt="">
                            </span>
                            <span ng-show="vm.asc['id'] === false" class="">
                                <img ng-src="/images/down-arrow-1.png" alt="">
                            </span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="vm.sort('orderDate',vm.asc)">
                            <font>Order Date</font>
                            <span ng-if="vm.asc['orderDate'] === true" class="">
                                <img ng-src="/images/up-arrow-1.png" alt="">
                            </span>
                            <span ng-show="vm.asc['orderDate'] === false" class="">
                                <img ng-src="/images/down-arrow-1.png" alt="">
                            </span>
                        </a>
                    </th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat-start="obj in vm.list" ng-class="$index % 2 != 0 ? 'table-tr-alternate-color' : 'some'">
                    <td data-th="Order Id: " class="top-purpal-color-row2"><a ng-click="vm.edit(obj)" class="customer-name-link">{{obj.id}}</a></td>
                    <td data-th="Order Date: " class="top-purpal-color-row2">{{obj.orderDate | date : 'dd-MM-yyyy'}}</td>
                    <td data-th="Customer Name: " class="top-purpal-color-row2">{{obj.Customer.name}}</td>
                    <td data-th="Status: " class="top-purpal-color-row2">{{obj.OrderStatus.title}} </td>
                    <td data-th="Action: " class="top-purpal-color-row2"><button class="btn btn-xs btn-success" ng-click="obj.show = !obj.show"><span ng-if="!obj.show">+ Expand</span><span ng-if="obj.show">- Collapse</span></button></td>
                </tr>
                <tr ng-repeat-end>
                    <td colspan="5" ng-show="obj.show" class="order-line-item">
                       <table class="table-part1" border="0" cellspacing="0" cellpadding="0">
                           <tr class="top-purpal-color-row">
                               <th>Design</th>
                               <th>Style</th>
                               <th>Material</th>
                               <th>Measurement</th>
                               <th>Delivery Date</th>
                               <th>Staus</th>
                           </tr>
                           <tr ng-repeat="oi in obj.OrderItems" ng-class="$index % 2 != 0 ? 'table-tr-alternate-color' : 'some'">
                               <td data-th="Design: " class="top-purpal-color-row2">{{oi.Design.title}}</td>
                               <td data-th="Style: " class="top-purpal-color-row2">{{oi.Style.title}}</td>
                               <td data-th="Material: " class="top-purpal-color-row2">{{oi.Material.title}}</td>
                               <td data-th="Measurement: " class="top-purpal-color-row2 collaps-measurment-height-mob">
                                   <div ng-repeat="oimv in oi.OrderItemMeasurements">
                                       <span>{{oimv.Measurement.title}} : {{oimv.val}}</span>
                                   </div>
                               </td>
                               <td data-th="Delivery Date: " class="top-purpal-color-row2">{{oi.deliveryDate | date:'dd-MM-yyyy'}}</td>
                               <td data-th="Staus: " class="top-purpal-color-row2">{{oi.OrderStatus.title}}</td>
                           </tr>
                       </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="paging" ng-if="vm.list.length > 0">
        <span class="showing-text-bx">
            Showing {{ ((vm.options.page - 1) * vm.options.pagesize) + 1 }} to
            <t ng-if="(vm.options.page * vm.options.pagesize) > vm.options.totalItems">{{vm.options.totalItems}}</t>
            <t ng-if="(vm.options.page * vm.options.pagesize) < vm.options.totalItems">{{vm.options.page * vm.options.pagesize}}</t>
            of {{vm.options.totalItems}} Order Records
        </span>
        <div class="paging-text">
            <ul uib-pagination ng-change="vm.pageChange()" boundary-links="true" max-size="4" force-ellipses="true" total-items="vm.options.totalItems" items-per-page="vm.options.pagesize" ng-model="vm.options.page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
        </div>
    </div>
</div>