<div class="managecustomer-right-bx">
    <h4 class="admin-setting-heding">Add/Edit OrderStatus</h4>
    <form name="orderStatusForm" novalidate>
        <!-- Left Form Section Start Here -->
        <div class="order-form-left-section add-new-form">

            <div class="form-section-box form-section-box-2">

                <div class="form-box">
                    <label><em id="mandatory" style="color:Red">*</em>Order Status</label>
                    <input id="username" name="title" required placeholder="Order Status" type="text" ng-model="vm.orderStatus.title" ng-minlength="2" ng-maxlength="30">
                    <span ng-if="(orderStatusForm.title.$dirty || vm.isSubmitted)  && orderStatusForm.title.$error.required"><i><b>Order Status</b></i> is required.</span>
                    <span ng-if="(orderStatusForm.title.$dirty || vm.isSubmitted)  && orderStatusForm.title.$error.minlength"><i><b>Order Status</b></i> should be at least 2 characters long.</span>
                    <span ng-if="(orderStatusForm.title.$dirty || vm.isSubmitted)  && orderStatusForm.title.$error.maxlength"><i><b>Order Status</b></i> should not be more than 30 characters long.</span>

                </div>
                <div class="form-box">
                    <label>Is Active</label>
                    <input ng-model="vm.orderStatus.isActive" class="billing-addres-checkbox clothcheck" type="checkbox">

                </div>

                <div class="register-btm-btn-box register-btm-btn-box-left-mar">
                    <div class="submit-error" ng-if="vm.error">
                        <div>{{vm.error}}</div>
                    </div>
                    <div class="submit-button">
                        <input ng-disabled="vm.startProcessing" value="Save" class="register-submit-btn" type="button" ng-click="vm.save(orderStatusForm)">
                    </div>
                    <div class="cancel-button">
                        <input value="Cancel" class="register-cancel-btn" type="button" ui-sref="secure.setting.orderstatus">
                    </div>
                </div>

            </div>





        </div>
    </form>
    <!-- Customer Details page Section End Here -->



</div>
