<div class="managecustomer-right-bx">
    <h4 class="admin-setting-heding">Add/Edit User</h4>
    <form name="userForm" novalidate>
        <!-- Left Form Section Start Here -->
        <div class="order-form-left-section add-new-form">
            <div class="form-section-box form-section-box-2">
                <fieldset ng-disabled="vm.currentUser.userrole != 'admin'" style="border:none">
                    <div class="form-box">
                        <label><em style="color:Red">*</em>Username</label>
                        <input name="username" placeholder="Username" type="text"  ng-pattern="/^[a-zA-Z0-9 ]+$/" ng-model="vm.user.username"  ng-minlength="2" ng-maxlength="50" required>
                        <span ng-if="(userForm.username.$dirty || vm.isSubmitted) && userForm.username.$error.pattern">No special characters are allowed.</span>
                        <span ng-if="(userForm.username.$dirty || vm.isSubmitted) && userForm.username.$error.required"><i><b>Username</b></i> is required.</span>
                        <span ng-if="(userForm.username.$dirty || vm.isSubmitted) && userForm.username.$error.minlength"><i><b>Username</b></i> should be at least 2 characters long.</span>
                        <span ng-if="(userForm.username.$dirty || vm.isSubmitted) && userForm.username.$error.maxlength"><i><b>Username</b></i> should not be more than 50 characters long.</span>
                    </div>
                    <div class="form-box">
                        <label><em style="color:Red">*</em>Full Name</label>
                        <input name="fullname" placeholder="Full Name" type="text" ng-model="vm.user.fullname"  ng-pattern="/^[a-zA-Z0-9 ]+$/"  ng-minlength="2" ng-maxlength="50" required>
                        <span ng-if="(userForm.fullname.$dirty || vm.isSubmitted) && userForm.fullname.$error.pattern">No special characters are allowed.</span>
                        <span ng-if="(userForm.fullname.$dirty || vm.isSubmitted) && userForm.fullname.$error.required"><i><b>Full Name</b></i> is required.</span>
                        <span ng-if="(userForm.fullname.$dirty || vm.isSubmitted) && userForm.fullname.$error.minlength"><i><b>Full Name</b></i> should be at least 2 characters long.</span>
                        <span ng-if="(userForm.fullname.$dirty || vm.isSubmitted) && userForm.fullname.$error.maxlength"><i><b>Full Name</b></i> should not be more than 50 characters long.</span>
                    </div>
                    <div class="form-box">
                        <label><em style="color:Red">*</em>Type of User</label>
                        <select class="paragraph" required name="userrole" ng-model="vm.user.userrole">
                            <option value="">Please Select</option>
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                        </select>
                        <span ng-if="(userForm.userrole.$dirty || vm.isSubmitted) && userForm.userrole.$error.required"><i><b>Type of User</b></i> is required.</span>
                    </div>

                    <div class="form-box">
                        <label> Email Address</label>
                        <input ng-model="vm.user.email" name="email" ng-pattern="/^[_A-Za-z0-9]+[a-zA-Z0-9_+-]+(\.[_A-Za-z0-9+-]+)*@[A-Za-z0-9+-_]+(\.[A-Za-z0-9+-]+)*(\.[A-Za-z]{2,5})$/ "
                               placeholder="Email address" ng-minlength="5" ng-maxlength="250"
                               type="email">
                        <span ng-if="(userForm.email.$dirty || vm.isSubmitted) && userForm.email.$error.pattern">Enter a valid <i><b>Email</b></i>.</span>
                        <span ng-if="(userForm.email.$dirty || vm.isSubmitted) && !userForm.email.$error.pattern && userForm.email.$error.minlength"><i><b>Email</b></i> should be at least 5 characters long.</span>
                        <span ng-if="(userForm.email.$dirty || vm.isSubmitted) && userForm.email.$error.maxlength"><i><b>Email</b></i> should not be more than 250 characters long.</span>

                    </div>

                    <div class="form-box" ng-if="!vm.user.id">
                        <label><em style="color:Red">*</em>Password</label>
                        <input name="password" ng-minlength="6" ng-maxlength="25" required placeholder="Password" type="password" ng-model="vm.user.password">
                        <span ng-if="(userForm.password.$dirty || vm.isSubmitted) && userForm.password.$error.required"><i><b>Password</b></i> is required.</span>
                        <span ng-if="(userForm.password.$dirty || vm.isSubmitted) && userForm.password.$error.minlength"><i><b>Password</b></i> should be at least 6 characters long.</span>
                        <span ng-if="(userForm.password.$dirty || vm.isSubmitted) && userForm.password.$error.maxlength"><i><b>Password</b></i> should not be more than 25 characters long.</span>
                    </div>
                    <div class="form-box" ng-if="!vm.user.id">
                        <label><em id="mandatory" style="color:Red">*</em>Confirm Password</label>
                        <input name="confirm" required placeholder="Confirm Password" type="password" ng-model="vm.confirmPassword">
                        <span ng-if="(userForm.confirm.$dirty || vm.isSubmitted) && userForm.confirm.$error.required"><i><b>Confirm Password</b></i> is required.</span>
                        <span ng-if="(userForm.confirm.$dirty || vm.isSubmitted) && !userForm.confirm.$error.required &&  vm.user.password != vm.confirmPassword"><i><b>Password</b></i> & <i><b>Confirm Password</b></i> does not match.</span>
                    </div>

                    <div class="form-box">
                        <label> <em id="mandatory" style="color:Red">*</em>Mobile Number</label>
                        <input id="" name="phonenumber" required="required" ng-pattern="/^[0-9]{1,11}$/" placeholder="Mobile Number" type="text" ng-model="vm.user.phone" ng-minlength="10" ng-maxlength="10">
                        <span ng-if="(userForm.phonenumber.$dirty || vm.isSubmitted) && userForm.phonenumber.$error.required"><i><b>Mobile Number</b></i> is required.</span>
                        <span ng-if="(userForm.phonenumber.$dirty || vm.isSubmitted) && (userForm.phonenumber.$error.pattern || userForm.phonenumber.$error.minlength || userForm.phonenumber.$error.maxlength)">Enter a valid 10-digit <i><b>Mobile Number</b></i>.</span>
                    </div>

                    <div class="form-box">
                        <label>Address</label>
                        <textarea ng-model="vm.user.address" rows="4" cols="50" placeholder="Address" name="address" ng-minlength="2" ng-maxlength="250"></textarea>
                        <span ng-if="(userForm.address.$dirty || vm.isSubmitted) && userForm.address.$error.minlength"><i><b>Address</b></i> should be at least 2 characters long.</span>
                        <span ng-if="(userForm.address.$dirty || vm.isSubmitted) && userForm.address.$error.maxlength"><i><b>Address</b></i> should not be more than 250 characters long.</span>
                    </div>
                    <div class="form-box">
                        <label>Is Active</label>
                        <input ng-model="vm.user.isActive" class="billing-addres-checkbox clothcheck" type="checkbox">
                    </div>
                </fieldset>

                <div class="register-btm-btn-box register-btm-btn-box-left-mar">
                    <div class="submit-error" ng-if="vm.error">
                        <div>{{vm.error}}</div>
                    </div>
                    <div class="submit-button">
                        <input ng-disabled="vm.startProcessing" ng-if="vm.currentUser.userrole === 'admin'" value="Save" class="register-submit-btn" type="button"  ng-click="vm.save(userForm)" >
                    </div>
                    <div class="cancel-button">
                        <input value="Cancel" class="register-cancel-btn" ui-sref="secure.setting.user" type="button">
                    </div>
                </div>

            </div>





        </div>
    </form>
    <!-- Customer Details page Section End Here -->



</div>
