<div class="main-header">
    <div class="logo" ui-sref="secure.dashboard" style="cursor:pointer;"><img src="images/newlogo.png" alt="ProT Boutique"></div>
    <span class="menu-toggle" ng-click="vm.toggle()">
        <i></i>
        <i></i>
        <i></i>
    </span>
    <div class="navbar">
        <ul>
            <li ng-click="vm.toggleActive()" ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'home'}" ui-sref="secure.home">Home</a></li>
            <!--<li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'dashboard'}"  ui-sref="secure.dashboard">Dashboard</a></li>-->
            <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'customer'}"  ui-sref="secure.customer">Customers</a></li>
            <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'order'}"  ui-sref="secure.order">Orders</a></li>
            <!-- <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'reports'}"  ui-sref="secure.reports">Reports</a></li> -->
            <!-- <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highlight === 'notifications'}"  ui-sref="secure.notifications">Notifications</a></li> -->
            <li ng-if="vm.user"><a ng-class="{'active' : $root.toState.highLightSetting === 'setting'}"  ui-sref="secure.setting.user">Settings</a></li>
            <li ng-if="vm.user" title="logged in as {{vm.user.fullname}}"><a ng-click="vm.logout()" href="">Logout</a></li>
            <li ng-if="!vm.user"><a ng-class="{'active' : $root.toState.highlight === 'home'}" ui-sref="home">Home</a></li>
            <li ng-if="!vm.user"><a ng-class="{'active' : $root.toState.highlight === 'login'}" ui-sref="login">Login</a></li>
        </ul>
    </div>

</div>
