<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title ng-if="$root.toState.title">ProT Boutique</title>

    <!-- Bootstrap core CSS -->
    <!--<link rel='stylesheet' id='bootstrap-css' href='/lib/bootstrap/dist/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css">-->
    <link href="/lib/style.css" rel="stylesheet" />
    <link href="/lib/mystyle.css" rel="stylesheet" />
    <link href="/lib/menu-maker.css" rel="stylesheet" />
    <!-- <link href="/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" /> -->
    <link href="/lib/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="/lib/rmDatepicker/rm-datepicker.css" rel="stylesheet" />-->
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- Custom styles for this template -->

</head>

<body>
    <div ui-view></div>

    <script type="text/javascript">
        window.user = <%- user || 'null'  %>;
    </script>

    <script type="text/javascript" src="/lib/jquery/src/jquery.js"></script>
    <script type="text/javascript" src="/lib/lodash/lodash.js"></script>
    <script type="text/javascript" src="/lib/sweetalert/lib/sweetalert.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/lib/restangular/src/restangular.js"></script>
    <script type="text/javascript" src="/lib/ngSweetAlert/SweetAlert.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs-dropdown-multiselect/src/angularjs-dropdown-multiselect.js"></script>


    <!-- <script src="/lib/lodash/dist/lodash.min.js"></script>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/lib/restangular/dist/restangular.min.js"></script>
    <script src="/lib/ngSweetAlert/SweetAlert.min.js"></script>
    <script src="/lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="/lib/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> -->



    <script src="/application.js"></script>
    <script src="/route.js"></script>
    <script src="/userService.js"></script>
    <!-- //===================================== -->
    <script src="/notifications/notifications.js"></script>
    <script src="/reports/reports.js"></script>
    <script src="/stats/stats.js"></script>
    <!-- //===================================== -->
    <script src="/login/login.js"></script>
    <script src="/shared/secure.js"></script>
    <script src="/home/home.js"></script>
    <script src="/dashboard/dashboard.js"></script>
    <script src="/order/order.js"></script>
    <script src="/customer/customer.js"></script>
    <script src="/setting/setting.js"></script>
    <script src="/setting/user/user.js"></script>
    <script src="/setting/design/design.js"></script>
    <script src="/setting/style/style.js"></script>
    <script src="/setting/material/material.js"></script>
    <script src="/setting/measurement/measurement.js"></script>
    <script src="/setting/orderstatus/orderstatus.js"></script>
    <script src="/convertToNum.js"></script>
    <script src="/convertToDate.js"></script>
    <script src="/leading-zero.js"></script>
    <!--<script type="text/javascript">
        $(document).ready(function(e) {
        $(".menu-toggle").click(function(){
	   $(".navbar").slideToggle()

	   })
	    $(".navbar ul li").click(function(){
		$(this).find("ul").slideToggle()
		$(this).toggleClass("active");
	   })

});
    </script>-->
</body>

</html>
